form {
	width: 80%;
	margin: auto;
	margin-top: 4rem;
	display: flex;
	/* border: solid 1px goldenrod; */
	box-shadow: 0 0 1px 0px #515050, 0 0 0 1px goldenrod;
	border-radius: 0.3em;
	padding: 0.3rem 0.2rem;
	transition: transform 0.1s cubic-bezier(.39,.58,.57,1);
  }

form:focus-within {
	box-shadow: 0 0 1.2rem 0px #51505057, 0 0 0 2px goldenrod !important;
	transform: scale(1.01);
	border-width: 2px;
}

form:hover {
	box-shadow: 0 0 0.2rem 0px #515050ba, 0 0 0 2px goldenrod;
}
  
  input {
	flex: 1;
	font-size: 1.7rem;
	padding: 0.2rem;
	border: none;
	overflow: hidden;
	text-overflow: ellipsis;
  }

input:focus,
.btn-plain {
	outline: none;
}

.btn-plain {
	  background: transparent;
	  border: none;
  }

  .btn-plain:focus {
	  color: #fff;
	  background: rgb(14, 1, 1);
  }

  .btn-search:focus,
  .btn-search:hover {
	  background: #cdcdcd;
  }